<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;

        }
    </style>
</head>
<body>
    <% if( name)  { %>
        <h1> Welcome  <%= name %>   </h1>
        <a href="/employee/logout/"  > <button type='submit'>Logout</button></a>
   <%}
    else{ %>
    <h1> Welcome Guest</h1>
    <a href="/employee/login/"  > <button type='submit'>Login</button></a>
    <a href="/employee/signup/"  > <button type='submit'>Signup</button></a>
    <%} 
    %>
</body>
</html>