<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel= 'stylesheet' type ="text/css" href='/login.css'>
    <script src='main.js'></script>
</head>

<body>

    <form action= "/employee/login1" method="post">
        <fieldset>
            <legend> Login:</legend>
            <label for="email">Enter email</label><br>
            <input type="email" id="email" name="Email"><br>
            <label for="password">Enter Password</label><br>
            <input type="password" id="pass" name="Password"><br>
            <input type="submit" value="submit">
            <a href="/employee"> <button type="button">Back</button></a>
        </fieldset>
</body>

</html>