<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel= 'stylesheet' type ="text/css" href='/login.css'>
    <script src='main.js'></script>
</head>

<body>

    <form action="/employee/signup1" method="post">
        <fieldset>
            <legend>Signup:</legend>
            <label for Name> Enter Name</label> <br>
            <input id='name', name='Name'>  <br>
            <label for="email">Enter Email</label><br>
            <input type="email" id="email" name="Email"><br>
            <label for="pass">Enter Password</label><br>
            <input type="Password" id="pass" name="Password"><br>
            <label for="add">Enter Address</label><br>
            <input type="text" id="add" name="Address"><br>
            <label for="contact">Enter Mobile No</label><br>
            <input type="text" id="contcat" name="Contact"><br>
            <input type="submit" value="submit">
            <a  href="/employee/login"> <button type="button">Login</button></a> <br>
        </fieldset>
</body>

</html>